.root {
    -fx-background-color: red;
}

.btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-font-family: "Arial Black";
    -fx-font-size: 30px;
    -fx-border-color: white;
    -fx-border-width: 3px;
}

.btn:hover {
    /*-fx-scale-x: 1.05;*/
    /*-fx-scale-y: 1.05;*/
    -fx-background-color: rgba(0, 100, 100, 0.5);
}